
@{
    ViewBag.Title = "Registration";
}

<h2>Registration Justin was here</h2>

<form action="/Home/Welcome">
	<label for="firstName">First Name</label>
	<input type="text" name="firstName"/><br />
	<label for="lastName">Last Name</label>
	<input type="text" name="lastName"/><br />
	<label for="email">Email</label>
	<input type="text" name="email"/><br />
	<label for="phone">Phone Number</label>
	<input type="number" name="phone"/><br />
	<label for="password">Password</label>
	<input type="text" name="password"/><br />
	<input type="submit" value="Submit"/>


</form>

<h1>@ViewBag.data</h1>